.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #000;
  }
  
  .content-wrapper {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  .main-content {
    flex-grow: 1;
  }
  
  .small-centered-footer {
    flex-shrink: 0;
  }